@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
	--background: #fafafa;
	--foreground: #171717;
}

@theme {
	--font-sans: 'IBM Plex Sans Thai';
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@utility no-scrollbar {
	@apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@keyframes bounce-x {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-8px);
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.animate-scroll {
	animation: scroll 40s linear infinite;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: 'IBM Plex Sans Thai', Arial, Helvetica, sans-serif;
}

html {
	scroll-padding-top: 7rem; /* Height of your navbar */
	scroll-behavior: smooth;
}
